#navtab{
	font-size: x-large;
	font-family: monospace; 
	color:black;
}
#navigation{
	background-color:#c0c0c0; 
}
#welcome_cont_txt{
	font-size: 50px;
	font-family: monospace; 
	color:black;
	height: 75px;
}
