
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DashBoard</title>
<link th:href="@{css/table.css}" rel="stylesheet" />
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    
   	 
   	 
   	 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      	<div class="container-fluid">
          	<a class="navbar-brand" href="#">Get It Done</a>
          	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              	<span class="navbar-toggler-icon"></span>
          	</button>
         	 
          	<div class="collapse navbar-collapse" id="navbarResponsive">
              	<ul class="navbar-nav ml-auto">
                 	 
                  	<li class="nav-item">
                 			 <div class="nav nav-links" id="nav-tab" role="tablist" >
   						 	<a class="nav-item nav-link btn" style="color:white; margin-right: 10px;" id="nav-home-tab" data-toggle="tab" href="#userProfile" role="tab" aria-controls="nav-home" aria-selected="true">UserProfile</a>
   						 	<a class="nav-item nav-link  btn" style="color:white; margin-right: 10px;" id="nav-profile-tab" data-toggle="tab" href="#serviceApplication" role="tab" aria-controls="nav-profile" aria-selected="false">ApplyForService</a>
   						 	<a class="nav-item nav-link  btn" id="nav-contact-tab" style="color:white; margin-right: 10px;" data-toggle="tab" href="#myServices" role="tab" aria-controls="nav-contact" aria-selected="false">MyService</a>
   						 	<a class="nav-item nav-link btn active" id="nav-contact-tab" style="color:white; margin-right: 10px;" data-toggle="tab" href="#myOrders" role="tab" aria-controls="nav-contact" aria-selected="false">MyOrders</a>
   						 	<form th:action="@{/logout}" method="post">
   								  <button  class="nav-item nav-link btn " style="color: white " type="submit" value="Sign Out">Sign Out</button>
   						  	</form>
   						  </div>
                  	</li>
                  	
              	</ul>
          	</div>
      	</div>
  	</nav>
   	  <div class="container-fluid">
   		 	<header class="jumbotron my-4" >
   	         	<h1 class="display-3">Welcome to your Taskboard</h1>
   	         	<p class="lead">You can easily manage your current and future tasks.</p>
   	        	 
   	   	 
   	     	</header>
	   	 <div class="tab-content" id="nav-tabContent">
	    	 
	   	  	<div class="tab-pane fade" id="userProfile" role="tabpanel" aria-labelledby="nav-home-tab">
	   			 		<h1>My Profile</h1>
	   					 <table class="table table-bordered">
	   						 
	   						 <tr>
	   						  	<td>Name : </td><td th:text=" ${session.user.name}"></td>
	   						 </tr>
	   						 <tr>
	   						  	<td>Address : </td><td th:text=" ${session.user.address}"></td>
	   						 </tr>
	   						 <tr>
	   						  	<td>Contact Number : </td><td th:text=" ${session.user.contactNumber}"></td>
	   						 </tr>
	   						 <tr>
	   						  	<td>Email : </td><td th:text=" ${session.user.email}"></td>
	   						 </tr>
	   				 	</table>
	   				 	<form th:action="@{/updateUserProfile}" method="post">
	   						  <input class="btn btn-outline-primary" type="submit" value="Update Profile" />
	   				  	</form>
	   			 
	   		 </div>
	   	 
	   	 <div class="tab-pane fade" id="serviceApplication"  role="tabpanel" aria-labelledby="nav-profile-tab">
	   			 
	   		     	 <h1>Apply For Services</h1>
	   		      
	   		 <form th:action="@{'/applyForService'(userId=${session.user.userId})}" method="post" >
	   			 <div class="w-25 form-label-group">
	   			 <label>Address: </label>
	                	<div>
	                    	<input class="form-control" type="text" th:name="areaOfService"
	                            	required />
	                	</div>
	            	
	            	<div>
	   			 <label>Cost/Hr:</label>
	                	<div>
	                    	<input class="form-control" type="number" th:name="costPerHour" min=1
	                            	required />
	                	</div>
	            	</div>
	            	<div class="form-label-group" style="margin-top:3%;">
			               <select id="select_list" class="form-control" th:name="appliedFor">
	 						<option th:each="service: ${listOfAvailableServices}" th:value="${service.serviceId}" th:text="${service.title}">
	   				 		</option>
						  </select>
		          </div>
	           	</div>
	            	
	   			
	   			 <input class="btn btn-outline-primary" style="margin-top:5px;" type="submit" value="Submit" />
	   		 </form>
	    	</div>
	    	<br/>
	   	 
	     	<div  class="tab-pane fade" id="myServices"  role="tabpanel" aria-labelledby="nav-profile-tab">
	   	 	 
	   	  	<h1>My Services</h1>
	   	  	<input class="form-control" id="myInput" type="text" placeholder="Type Service Name...">
	   	     	<table class="table table-bordered" id="myServicesSearch">
	   	         	<thead >
	   	             	<tr>
	   	                 	<th>Service Title</th>
	   	                 	<th>AvgRating</th>
	   	                 	<th>CostPerHour</th>
	   	                 	<th>AreaOfService</th>
	   	                	<th>Delete</th>
	   	                	 
	   	             	</tr>
	   	         	</thead>
	   	         	<tbody>
	   	             	<tr th:each="service: ${listMyServices}">
	   	                 	<td th:text="${service.serviceId.title}"></td>
	   	                 	<td th:text="${service.avgRating}"></td>
	   	                 	<td th:text="${service.costPerHour}"></td>
	   	                 	<td th:text="${service.areaOfService}"></td>
	   	                 	<td >
			                    	<form th:action="@{'/deleteProvidedService'(providedServiceId=${service.providedServiceId}, serviceId=${service.serviceId.serviceId})}" method="post" >
			                    		<input class="btn btn-sm btn-warning btn-block" type="submit" value="Delete">
			                    	</form>
			                 </td>
	   	             	</tr>
	   	         	</tbody>
	   	     	</table>
	    	</div>
	   	 
	    	<br/>
	    	<div  class="tab-pane fade  show active" id="myOrders"  role="tabpanel" aria-labelledby="nav-profile-tab">
	     	<h1>My Orders</h1>
	     	<div >
	     		<input class="form-control" id="myInput1" type="text" placeholder="Type Service Name...">
	     	</div>
	        	<table class="table table-bordered" id="myServicesSearch2">
	            	<thead >
	                	<tr>
	                    	<th>Seeker Name</th>
	                    	<th>Seeker Contact</th>
	                    	<th>Service Title</th>
	                    	<th>Address</th>
	                    	<th>Time</th>
	                    	<th>Rating</th>
	                    	<th>Status</th>
	                   	 
	                	</tr>
	            	</thead>
	            	<tbody>
	                	<tr th:each="order: ${myOrders}">
	                    	<td th:text="${order.userId.name}"></td>
	                    	<td th:text="${order.userId.contactNumber}"></td>
	                    	<td th:text="${order.providedServiceId.serviceId.title}"></td>
	                    	<td th:text="${order.address}"></td>
	                    	<td th:text="${#temporals.format(order.bookingTime, 'E, hh:mm a, dd-MM-yyyy')}"></td>
	                    	<td>
	                   		 <th:block  th:if="${order.status.name() == 'COMPLETED' and order.rating != 0.0}" th:each="i: ${#numbers.sequence(0,order.rating - 1)}">
	   										 
	   						             	⭐
	   						           	 
	   						         	</th:block>
	                    	</td>
	       				 <td class="text-center align-middle">
	    					
	   						 <form th:if="${order.status.name() == 'BOOKED'}" th:action="@{'/changeOrderStatus'(id=${order.bookingId}, num=1)}" method="post">
	       						 <input type=hidden placeholder="OTP" th:name="otp" value="0"/>
	       						 <input class="btn btn-sm btn-outline-success "  style="width:90px; margin-top:2px;" type="submit" value="Accept"/>
	       					 </form>
	       					 
	       					 <form th:if="${order.status.name() == 'BOOKED'}" th:action="@{'/changeOrderStatus'(id=${order.bookingId},num=2)}" method="post">
	       						 <input type=hidden placeholder="OTP" th:name="otp" value="0"/>
	       						 <input class="btn btn-sm btn-outline-danger" style="width:90px; margin-top:2px;" type="submit" value="Reject"/>
	       					 </form>
	       					 
	       					 <form th:if="${order.status.name() == 'ACCEPTED'}" th:action="@{'/changeOrderStatus'(id=${order.bookingId},num=3)}" method="post">
	       						 <input  style="width:150px; border-radius: 6px; border-width:1px;height:37px;" type=number placeholder="OTP" th:name="otp" min=1000 max=9999 required/>
	       						 <input  class="btn btn-sm btn-outline-primary" style="width:100px; margin-top:2px;" type="submit" value="Completed"/>
	       					 </form>
	       					 <p th:if="${order.status.name() == 'COMPLETED'}">Completed</p>
	       					 <p th:if="${order.status.name() == 'REJECTED'}">Rejected</p>
	       				 </td>
	       				 
	                   	 
	                	</tr>
	            	</tbody>
	        	</table>
	    	</div>
	    
	    </div>
	    
	    <div class="toast" id="myToast" style="position: absolute; top: 0; right: 0;" data-delay=11500 th:if="${success} or ${updateError} or ${serviceApplicationNoti} or ${changeOrderStatusNoti} or ${deleteServiceNoti} or ${ErrorDeleteServiceNoti}">
	   	     	<div class="toast-header">
	   	         	<div   th:text="${success}" th:if="${success}"  ></div>
	   	         	<div   th:text="${updateError}" th:if="${updateError}"></div>
	   				 <div th:text="${serviceApplicationNoti}" th:if="${serviceApplicationNoti}"></div>
	   				 <div th:text="${changeOrderStatusNoti}" th:if="${changeOrderStatusNoti}"  ></div>
	   				 <div th:text="${deleteServiceNoti}" th:if="${deleteServiceNoti}"  ></div>
	   				 <div th:text="${ErrorDeleteServiceNoti}" th:if="${ErrorDeleteServiceNoti}"  ></div>
	   	         	<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
	   	             	<span aria-hidden="true">&times;</span>
	   	         	</button>
	   			   </div>   	    
		</div>
	  </div>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
   	 $(document).ready(function(){
   	   $("#myInput").on("keyup", function() {
   	 	var value = $(this).val().toLowerCase();
   	 	$("#myServicesSearch tr").filter(function() {
   	   	$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
   	 	});
   	   });
   	 });
   	$(document).ready(function(){
    	   $("#myInput1").on("keyup", function() {
    	 	var value = $(this).val().toLowerCase();
    	 	$("#myServicesSearch2 tr").filter(function() {
    	   	$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    	 	});
    	   });
    	 });
   	 $(document).ready(function(){
          	$("#myToast").toast('show');
         	 
    	});
    </script>
    
    
</body>
</html>
